/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add CSS styling here */

*{
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #292929;
    
}
.top_content {
    display: flex;
    justify-content: space-between;
    background-color: #414141;
}

h1 {
    font-size: 2rem;
    /* font-weight: bold; */
    /* border: solid red; */
    margin: 1rem;
    color: cornsilk;
}
nav {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    
    /* border: solid red; */
    /* align-items: ; */
}

nav a{
    text-decoration: none;
    font-size: 2rem;
    margin: 1rem;
    color: cornsilk;
    padding: .5rem;
    height: 3rem;
    border-right: solid black;
    justify-content: space-around;

}

.home_nav {
    background-color: cornsilk;
    color: #414141;
    border-radius: 30%;
}

.about_nav {
    background-color: #414141;
    color: cornsilk;
    border-radius: 30%;
}

.projects_nav {
    background-color: #414141;
    color: cornsilk;
    border-radius: 30%;
}

.contact_nav {
    background-color: #414141;
    color: cornsilk;
    border-radius: 30%;
}

nav a:hover {
    background-color: cornsilk;
    color: #414141;
    border-radius: 30%;
}

.main_content h2{
    font-size: 3rem;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    margin: 2rem auto;
    color: darkkhaki;
}

.main_content p{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 2rem;
    line-height: 1.5rem;
    color: wheat;

}

footer{
    background-color: #414141;
    color: cornsilk;
    padding-bottom: 1rem;
}
.main_footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* margin: 2rem; */
    /* padding-top: 2rem;   */
}

.social_footer {
    display: flex;
    flex-direction: column;
    align-items: left;
    line-height: 1.5rem;
    
    /* width: 200px; */
    /* align-content:; */
}

.social_footer img{
    width: 3rem;
    background-color: aliceblue;
    border-radius: 50%;
    padding: .3rem;
    margin: .5rem 0;
    
}

.social_footer img:hover{
    background-color: #36aae0;
}

.social_footer h3{
    margin: 1rem 0;
    font-size: 1.3rem;
}
.contact_footer {
    display: flex;
    align-items: center;
}

/* .social_links {
    display: flex;
    flex-direction: column;    
} */



.social_footer img {
    width: 3rem;
    background-color: aliceblue;
    border-radius: 50%;
    padding: .3rem;
    margin: .5rem 0;
}

.social_footer img:hover{
    background-color: #36aae0;
}

.github {
    width: 18.75rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem auto;
    height: 2rem;    
}

.github a{
    width: 3.5rem;
    font-size: 1rem;
}

.linkedin {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 18.75rem;
    margin: 1rem auto;
    font-size: 1rem;
    height: 2rem;
}

.linkedin a{
    width: 3.5rem;
    font-size: 1rem;
}


.contact_footer button {
    background-color: #292929;
    color: whitesmoke;
    line-height: 2.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.contact_footer button:hover {
    background-color: #a70000;
    border-radius: 20%;
}

footer p{
    text-align: center;
    font-size: .5rem;
    
}

footer a {
    text-decoration: none;
    color:  wheat;
}


