.home_nav {
    background-color: #414141;
    color: cornsilk;
    border-radius: 30%;
}

.about_nav {
    background-color: #414141;
    color: cornsilk;
    border-radius: 30%;
}

.projects_nav {
    background-color: cornsilk;
    color: #414141;
    border-radius: 30%;
}

.contact_nav {
    background-color: #414141;
    color: cornsilk;
    border-radius: 30%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.projects .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: dashed black .05rem;
    border-bottom: dashed black .05rem;
    margin: 2rem;
    padding: 1rem;
    width: 42%;
}

.projects img{
    width: 15rem;

}

.projects p{
    line-height: 1.5rem;
    margin: .5rem;
}

.projects h3{
    line-height: 2.3rem;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}

.projects button {
    border-radius: 0.9375rem;
    height: 2.5rem;
    width: 6rem;
    font-weight: bold;  
}

.projects button:hover{
    animation: pulse 3s ease infinite alternate;
}

@keyframes pulse {
    0%, 100% {
        background-color: white;
    }
    50% {
        background-color: #414141;
        color: white;
    }
}

@media (max-width: 800px){
    .project .content {
        width: 40%;
    }
}

@media (max-width: 500px){
    .project .content {
        width: 40%;
    }
}

